<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30"
	packages="meyn.cevn.modelo.log">
	<Appenders>
		<Evernote name="Evernote" updateInterval="10"
			ignoreExceptions="false">
			<PatternLayout
				pattern="%d{DATE}{America/Fortaleza} [%tid] %-5level %logger{36} - %msg%n" />
		</Evernote>
		<Console name="Console">
			<PatternLayout
				pattern="%d{DATE}{America/Fortaleza} [%tid] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
<!-- 
		<Logger name="meyn.cevn.controle" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="meyn.cevn.modelo.sumario" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
 -->		
		<Logger name="meyn" level="info" additivity="false">
			<AppenderRef ref="Evernote" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>